  p {
    color: rgb(0, 0, 0);
  }
  @font-face {
    font-family: BlockLetters;
    src: url(../files/ThatSoundsGreat-yYLE3.ttf);
  }
  .lunchOptions {
    padding-top: 10px;
  }
  .inputs {
    background-color: rgb(233, 233, 248);
    border-radius: 10px;
  }
  input::placeholder {
    color: black;
  }
  
  .signInText {
    text-align: left;
    padding-left: 45px;
    font-size: 24px;
    font-family: BlockLetters;
  }
  .buttons {
    border-radius: 6px;
    width: 260px;
    height: 50px;
  }
  .buttons:hover {
    border-color: rgb(0, 0, 0);
    background-color:#d6d5d5;
    transition: 0.2s;
  }
  .signInInputs {
    margin: 0 auto;
    width: 400px;
    background-color: rgb(157, 156, 158);
    border-radius: 30px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .custom-Message {
    color: rgb(255, 255, 255);
    font-size: 15px;
  }
  .custom-alert {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(53, 53, 53, 0.95);
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    max-width: 300px;
    margin-top: 5%;
}

.close-button {
    background-color:rgba(255, 61, 61, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.show-alert-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
