p {
    color: rgb(0, 0, 0);
  }
  h2 {
    font-size: max(2vw, 12px);
    text-align: center;
  }
  #header {
    margin: 1%;
  }
  h3 {
    margin: 0;
  }
  .mainCont {
    text-align: center;
  }
  .subCont {
    text-align: center;
  }
  .lunchInput {
    text-align: center;
  }
  /* .select2-selection__rendered {
      line-height: 50% !important;
  } */
  .select2-container .select2-selection--single {
      height: 50% !important;
  }
  .select2-selection__arrow {
      height: 50% !important;
  }
  .selectDivs {
    margin-top: 1%;
  }
  .selectOptionImg {
    width: 13%;
    height: 50%;
    padding: 1%;
    padding-right: 3%;
    border-radius: 8px;
    vertical-align: middle;
  }
  .selectImg {
    width: 23%;
    height: 30%;
    padding: 3%;
    border-radius: 15px;
    vertical-align: middle;
  }
  @font-face {
    font-family: BlockLetters;
    src: url(/files/ThatSoundsGreat-yYLE3.ttf);
  }
  .lunchInputs {
    height: 20px;
  }
  .lunchCourseInput {
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
    height: 20px;
    width: 60%;
  }
  .adminButtons {
    border-radius: 6px;
    width: 12%; 
    padding-top: .5%;
    padding-bottom: .5%;
    min-width: 120px;
  }
  .adminButtons:hover {
    border-color: rgb(0, 0, 0);
    background-color:#d6d5d5;
    transition: 0.2s;
  }
  .showLunch {
    font-size: 1.4vw;
    text-align: center;
  }
  .changeLunch input {
    margin: 1%;
  }
  input[type="date"] {
    padding: 1%;
    background-color: rgb(87, 87, 87);
    font-size: 1vw;
    font-family: "Roboto Mono", monospace;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    
  }
  input[type="date"]::-webkit-calendar-picker-indicator{
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
 
  .buttons {
    font-family: BlockLetters;
    font-size: .8vw;
    border-radius: 6px;
    width: 7%; 
    padding-top: .6%;
    padding-bottom: .6%;
    min-width: 80px;
  }
  .minButton {
    font-family: BlockLetters;
    font-size: .7vw;
    border-radius: 6px;
    width: 45%; 
    padding-top: .1%;
    padding-bottom: .1%;
    margin-top: 50%;
    min-width: 20px;
    vertical-align: middle;
  }
  .minButtonCourse {
    font-family: BlockLetters;
    font-size: .7vw;
    border-radius: 6px;
    width: 50%; 
    padding-top: .1%;
    padding-bottom: .1%;
    margin-top: 50%;
    min-width: 20px;
    vertical-align: middle;
  }
  .addButton {
    font-family: BlockLetters;
    font-size: 1vw;
    border-radius: 6px;
    width: 8%; 
    padding-top: .2%;
    padding-bottom: .2%;
    min-width: 20px;
    vertical-align: middle;
  }
  .subCont {
    text-align: center;
    display: none;
  }

  .selectDivSide {
    display: inline-block;
    width: 15%;
    height: 100%;
    min-height: 5px;
    text-align: center;
  }
  .selectDivMid {
    display: inline-block;
    width: 70%;
    text-align: center; 

  }
  .selectDivMain {
    display: inline-block;
    width: 100%;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
    
  }
  .courseDivMain {
    display: inline-block;
    width: 25.6%;
    align-items: center;
    margin-bottom: 1.7%;
    border-width: .2%;
    border-style: groove;
    border-color:rgb(211, 205, 205);
    border-radius: 2%;
    background-color: rgb(247, 247, 247);
  }
  .courseDivSide {
    display: inline-block;
    width: 38%;
    margin-right: 2%;
    height: 100%;
    min-height: 5px;
    text-align: right;
    margin-bottom: 2%;
    margin-top: 3%;
  }
  .courseDivMid {
    display: inline-block;
    width: 20%;
    text-align: center; 

  }
  .courseFillerDiv {
    display: inline-block;
    width: 35%;
    height: 100%;
    min-height: 5px;
    text-align: left;
  }
  .courseFillerCont {
    display: inline-block;
    width: 40%;
    height: 100%;
    min-height: 5px;
    text-align: left;
  }
  
  

  